{% extends 'base.html.twig' %}

{% block title %}RockNtro!

{% endblock %}

{% block body %}
	<br>
	
	<h1 class="home d-flex justify-content-center" >Les 50 meilleures intros de musique</h1>
	


		<div class="row mb-2" > 

		{# arguments : #}
		{# 1. onemorceau : variable de reception que nous définissons dans la boucle, qui receptionne les données d'1 morceau par tour de boucle FOR #}
		{# 2. morceauBDD : variable Twig contenant l'ensemble des données selectionné en BDD #}

			{% for oneMorceau in morceauBDD %}{# boucle FOR Twig : #}

			{# {% for oneMorceau in morceauBDD |sort (oneMorceau.votes order by ASC and LIMIT 50) %} #}
			  

				{# {{ dump(oneMorceau) }} #}


				<div class="col-md-12 d-flex  d-flex justify-content-center mb-3 ">
				 <div class="row  g-0 border rounded overflow-hidden flex-md-row shadow-lg w-75 card">


					<div class="col-md-9 p-4 d-flex position-static justify-content-around">

						<strong class="d-inline-block mb-2"> <span class="text-primary"> Titre: </span>{{ oneMorceau.titre }} </strong>


						{# on piioche dans un objet twig #}
						<h5 class="mb-1"><span class="text-primary"> Artiste: </span> {{ oneMorceau.artiste }}</h5>


						{% if app.user %}

							<form method="post">
							<input type="hidden" name="idMorceau" id="idMorceau" value="{{ oneMorceau.id }}">
							</form>

							<a href="{{path('home_show', {'id': oneMorceau.id}) }}" class="link">Commentaires</a>

                        {% else %}
                                   {# <a href="{{path('home_show', {'id': oneMorceau.id}) }}" class="link-dark">Commentaires</a> #}
						{% endif %}
							


					</div>
					
					<div class="col-md-12 d-flex ml-6">
						<iframe src="{{ oneMorceau.lienspotify }}" width="90%" height="70em" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

						{% if app.user %}

							<button type="submit" class="btn btn-danger d-flex" name="button" value="like">
								<i class="bi bi-hand-thumbs-up" ></i> <h5 >{{ oneMorceau.votes|length }}</h5>  
							</button>

						{% else %}
						
                            		<button type="button" class="btn btn-danger d-flex 'hoverPropos text-muted' data-bs-toggle="tooltip" data-bs-placement="top" title=" Se connecter pour liker" " name="button">
								<i class="bi bi-hand-thumbs-up" ></i> <h5 >{{ oneMorceau.votes|length }}</h5>  
							       </button>

									 
						{% endif %}


					</div>

					<div class=" date m-2 align-content-end text-muted  ">Posté le
							{{ oneMorceau.date|date('d/m/Y') }}
							</div>

				    </div>
			</div>
		{% endfor %} 
	  </div>

{% endblock %}
