{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}

	{# articlesBDD : variable TWIG contenant tout les articles selectionnés en BDD et transmit par le controlleur 'BlogController' via la méthode render(), cela nous permet de traiter les données de la BDD avec le langage TWIG afin d'avoir un affichage sur le navigateur #}

	{# {{ dump(articleBDD) }} #}

		<div class="row mb-2" > {# boucle FOR Twig : #}
		{# arguments : #}
		{# 1. oneArticle : variable de reception que nous définissons dans la boucle, qui receptionne les données d'1 article par tour de boucle FOR #}
		{# 2. articlesBDD : variable Twig contenant l'ensemble des données selectionné en BDD #}

			{% for oneArticle in articleBDD %}

			{#	{{ dump(oneArticle) }} #}

				<div class="col-md-12 d-flex align-items-center"> <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

					<div class="col-md-7 p-4 d-flex flex-column position-static">

						<strong class="d-inline-block mb-2 text-primary">{{ oneArticle.titre }}</strong>

						{# on picohe dans un objet twig #}
						<h3 class="mb-0">{{ oneArticle.artiste }}</h3>
						{# date() : filtre TWIG qui permet de formater une date / heure #}

						<div class="mb-1 text-muted">Posté le
							{{ oneArticle.date|date('d/m/Y') }}
							à
							{{ oneArticle.date|date('H:i:s') }}</div>
						<form method="post">
							<button type="button" class="btn btn-danger col-md-5" name="button">
								<i class="bi bi-hand-thumbs-up"></i>

							</button>
						</form>
						
						<a href="#" class="stretched-link">Lire la suite</a>

					</div>
					<div class="col-md-12 d-none d-lg-block">
						<iframe src="{{ oneArticle.lienspotify }}" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

					</div>

				</div>
			</div>
		{% endfor %}
	</div>


{% endblock %}
