{% extends "base.html.twig" %}

{% block title %}
    RockNtro
{% endblock %}
    
{% block body %}


    <h1 class="display-7  text-center my-4 home ">Dernières propositions</h1>
	

		<div class="row mb-2" > 

		
				{% for oneProposition in propositionBDD | sort|reverse %}{# boucle FOR Twig : #}

			{#	{{ dump(onemorceau) }} #}


				<div class="col-md-12 d-flex  d-flex justify-content-center mb-3">
				 <div class="row  g-0 border rounded overflow-hidden flex-md-row shadow-lg w-75 ">


					<div class="col-md-9 p-4 d-flex position-static justify-content-around">

						<strong class="d-inline-block mb-2"> <span class="text-primary"> Titre:</span> {{ oneProposition.titre }} </strong>

						{# on piioche dans un objet twig #}
						<h5 class="mb-1"><span class="text-primary"> Artiste: </span>{{ oneProposition.artiste }}</h5>


						{# <a href="#" class="">Voir plus...</a> #}

					</div>
					<div class="col-md-12 ">
						<iframe src="{{ oneProposition.lienspotify }}" width="100%" height="70em" frameborder="0"
						 allowtransparency="true" allow="encrypted-media"></iframe>

					</div>

					<div class="m-2 align-content-end text-muted">Posté le
							{{ oneProposition.date|date('d/m/Y') }}
							à
							{{ oneProposition.date|date('H:i:s') }} par {{ oneProposition.user.pseudo }}</div>

				</div>
			</div>
		{% endfor %}

	  </div>

{% endblock %}




