{% extends 'base.html.twig' %}

{% block title %} Proposition {% endblock %}


{% block body %}
    <h3>Votre proposition</h3>

  


    {{ form_start(formProposition) }}
        {{ form_row(formProposition.titre) }}
        {{ form_row(formProposition.artiste) }}
        {{ form_row(formProposition.lien_spotify) }}
        {# {{formProposition|date('d/m/Y')}} #}

        <button type="submit" class="btn btn-dark "><a class="nouv" href="{{ path('entrer')}}">Envoyer</a> </button>

        
     {{ form_end(formProposition) }} 

{#{% for oneProposition in propositionsBDD %}

     date() : filtre TWIG qui permet de formater une date / heure
 <div class="mb-1 text-muted"><small>Posté le {{ formProposition.date|date('d/m/Y') }} à {{ formProposi}tion.date|date('H:i:s') }}</small></div> #}



{% endblock %}