{% extends 'base.html.twig' %}

{% block title %} Proposition {% endblock %}


{% block body %}
    <h1>Votre proposition</h1>

    {{ form_start(formProposition) }}
        {{ form_row(formProposition.titre) }}
        {{ form_row(formProposition.artiste) }}
        {{ form_row(formProposition.lien_spotify) }}
        {# {{ form_row (formProposition|date('d/m/Y'), {'attr': {'class': 'hidden-row'}} )}} #}

        <button type="submit" class="btn btn-dark">Envoyer</button>

        
     {{ form_end(formProposition) }} 

{#{% for oneProposition in propositionsBDD %}

     date() : filtre TWIG qui permet de formater une date / heure
 <div class="mb-1 text-muted"><small>Posté le {{ formProposition.date|date('d/m/Y') }} à {{ formProposition.date|date('H:i:s') }}</small></div> #}



{% endblock %}