{% extends 'base.html.twig' %}

{% block title %} Proposition {% endblock %}


{% block body %}



    <h1>Votre proposition</h1>

    <div class="bg-imgproposition">

        {{ form_start(formProposition) }}
            {{ form_row(formProposition.titre) }}
            {{ form_row(formProposition.artiste) }}
            {{ form_row(formProposition.lien_spotify) }}
            {# {{formProposition|date('d/m/Y')}} #}


        <button type="submit" class="btn btn-dark ">envoyer</button>


           

            
        {{ form_end(formProposition) }} 


    </div>




{% endblock %}